# Flutter/Dart specific
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
/build/
.dart_tool/
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.class
*.log
/.idea
/.dart_tool
/.vscode
.DS_Store

# Android specific
/build/
.idea/
*.iml
*.iws
*.class
local.properties
.DS_Store

# iOS specific
/build/
.idea/
*.iml
*.iws
*.class
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcuserdatad
!default.mode1v3
!default.mode2v3
!default.perspectivev3
!default.pbxuser
!default.xcuserdatad
*.xcworkspace
*.hmap
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM
*.app.dSYM
*.ipa.dSYM
